h2 { 
	color: green;
}
li {
    font-style: italic;
}

	border: 1px

font-face {
	font-family: 'Kumar One', cursive;
	font-style: normal:
	font-wieght: 400;
	src: url("https://fonts.googleapis.com/css?family=Kumar+One");
}
h1 {font-family: 'Kumar One', cursive;}

a { 
	font-family: monospace;
	text-decoration: none;
	font-weight: none;
}

a:link { 
	color: blue;
}

a:visited {
	color: red;
}

a:hover { 
	text-decoration: underlined;
	color: white;
	background-color: gray;
}

table {
	background: lightblue;
	font-style: italic;
	}
