header, footer {
    padding: 1em;
    color: white;
    background-color: green;
    clear: left;
    text-align: center;
}
body	 {background-color: lightgray;}
h2    {text-align:center;}
p    {text-align:center;}

th {text-align:center;}
hd   {text-align:center;}
}
@font-face {
	font-family: 'Kumar One', cursive;
	font-style: normal:
	font-wieght: 400;
	src: url("https://fonts.googleapis.com/css?family=Kumar+One");
}
h1 {font-family: 'Kumar One', cursive;}
.line_div{
 //Does nothing
}

.line_fitting{
    display: inline-block;
}

.line_paragraphs{
    padding-left: 90px;
}

.line_inputs{
    margin-left: 20px;
    width: 200px;
}


a:link { 
	color: green;
	
}

a:visited {
	color: darkblue;
	
}

a:hover { 
	color: black;
	font-weight: bold;
	
}

a:active {
	text-decoration: none;
	background-color: white;
}